.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
  display: flex;
  z-index: 1000;
  padding: 2rem calc(4rem + 15px) 2rem 4rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 40rem) {
  .modal {
    padding: 2rem calc(2rem + 20px) 2rem 2rem;
  }
}
@media (max-width: 25rem) {
  .modal::after {
    position: absolute;
    content: "Clique aqui para voltar";
    bottom: 20px;
    color: white;
  }
}
