body {
  padding-top: 4rem;
  margin: 0;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  color: #333;
  font-family: var(--type-first);
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
  padding: 10px;
}
.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 5px;
  position: relative;
  z-index: 1;
}
.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(255, 221, 71);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}
@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
.error {
  color: red;
  padding: 10px 10px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}
.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.margin {
  padding: 10px;
}
.loading {
  font-family: var(--type-second);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
