.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: rgb(121, 64, 168);
  min-width: 8rem;
  color: #764701;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  transition: 0.1s;
}
.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(182, 74, 233), 0 0 0 4px rgb(204, 63, 230);
}
.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
